/*fondo navbar*/
.custom-navbar {
  background-color: black;
}

/*Titulo navbar*/
.custom-navbar .navbar-brand {
  color: rgb(221, 166, 0);
  font-weight: bold;
  font-size: 1.5rem;
}
/*botones navbar*/
.custom-navbar .btn-outline-light {
  color: white;
  border-color: white;
}
/*hover navbar*/
.custom-navbar .btn-outline-light:hover {
  background-color: white;
  color: black;
}

.tamaño-logo{
  width: 50px;
}
