<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <title>Nosotros</title>
    
</head>
<body>
    <section class="bg-black text-yellow py-5">
  <div class="container">
    <h2 class="titulo-contacto text-center">¡Abyss-Games!</h2>
    
    <!-- Descripción-->
    <p class="text-center descripcion-contacto">
      Somos Abyss Games,Una pagina de venta de videojuegos con una amplia experiencia en el mercado con mas de 5 años vendiendo diferentes juegos
      y con miles de clientes con compras satisfactorias,ademas, tenemos los mejores precios del mercado y una amplica colección de videojuegos en
      nuestra biblioteca.¡No dude en comprar con nosotros!
    </p>

    <div class="row g-4 text-center row cards-contacto">

      <!-- Teléfono -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 p-4 text-light">
          <i class="bi bi-telephone-fill fs-1 mb-3 icono-contacto"></i>
          <h5 class="fw-bold">Teléfono</h5>
          <p class="text-light">+57 3224567615</p>
          <p class="text-light">Contáctanos por llamada para soporte inmediato.</p>
        </div>
      </div>

      <!-- Correo -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 p-4 text-light">
          <i class="bi bi-envelope-fill fs-1 mb-3 icono-contacto"></i>
          <h5 class="fw-bold">Correo</h5>
          <p class="text-light ">abyssGym.com</p>
          <p class="text-light ">Escríbenos tus dudas o solicitudes por email.</p>
        </div>
      </div>

      <!-- Dirección -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 p-4 text-light">
          <i class="bi bi-geo-alt-fill fs-1 mb-3 icono-contacto"></i>
          <h5 class="fw-bold">Dirección</h5>
          <p class="text-light">Carrera 85 #23-10 Bogota Colombia</p>
          <p class="text-light">Visítanos en nuestra oficina para mayor informacion.</p>
        </div>
      </div>

    </div>
  </div>
</section>



    
</body>
</html>

