
.card {
  background-color: #1a1a1a;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}

.titulo-contacto {
  color: rgb(221, 166, 0); 
  font-size: 4rem; 
  font-weight: bold;
}

.icono-contacto{
  color: white;
}

.descripcion-contacto {
  margin-top: 50px; 
  color: #ccc;
  font-size: 1.5rem;
}

.cards-contacto {
  margin-top: 70px; 
}



