<!--Busqueda-->
<input
  type="text"
  placeholder="Buscar producto"
  [(ngModel)]="searchTerm"
  (input)="searchProducts()"
  class="form-control mb-4"
/>

<div class="container mt-4">

    <!-- Si hay productos -->
    <div *ngIf="filteredProducts.length > 0">
      <h2>Nuestro catálogo</h2>

    <!-- Lista de videojuegos -->
    <div class="row">
      <div *ngFor="let product of filteredProducts" class="col-md-4 mb-3">
        <div class="card">
          <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text card-precio fw-bold">{{ product.price }}</p>
          <p class="card-text">{{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Si se buscó y no hay resultados -->
      <div *ngIf="searchTerm && filteredProducts.length === 0" class="col-12 text-center mt-4">
        <p>No se encontraron resultados.</p>
      </div>