<div class="container py-4">
    
<h2 class="fw-bold">Recomendaciones</h2>
  <!-- Carrusel 1 -->
  <div id="carousel1" class="carousel slide mb-5 fondo-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
            <!--slide 1-->
      <div class="carousel-item">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/Elden_Ring.jpg" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">ELDEN RING</h3>
            <p>En un vasto mundo interconectado, los jugadores exploran terrenos peligrosos 
                y secretos ocultos para enfrentar amenazas desafiantes y jefes poderosos.</p>
            <p class="precio-color fw-bold">Precio 200.000 COP</p>
          </div>
        </div>
      </div>

      <!--slide 2-->
      <div class="carousel-item active">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/telasofas.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">The Last of Us</h3>
            <p>En un mundo devastado por infectados, Joel debe escoltar a Ellie, una niña de 14 años, fuera de una zona militar. 
                Lo que parecía una misión simple se convierte en un peligroso viaje por todo el país.</p>
            <p class="precio-color fw-bold">Precio 200.000 COP</p>
          </div>
        </div>
      </div>
      
       <!--slide 3-->
      <div class="carousel-item">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/cyberpunk.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">Cyberpunk 2077</h3>
            <p>Juego de rol y acción en un mundo abierto futurista, donde encarnas a un mercenario que lucha por sobrevivir en la peligrosa ciudad de Night City.</p>
            <p class="precio-color fw-bold">Precio 200.000 COP</p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>


  <h2 class="fw-bold">Acción</h2>
  <!-- Carrusel 1 -->
  <div id="carousel2" class="carousel slide mb-5 fondo-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0"></button>
      <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
            <!--slide 1-->
      <div class="carousel-item">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/forest.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">The Forest</h3>
            <p>Tras sobrevivir a un accidente aéreo, debes enfrentarte a mutantes caníbales en un bosque misterioso, construyendo y explorando para sobrevivir.</p>
            <p class="precio-color fw-bold">Precio 31.000 COP</p>
          </div>
        </div>
      </div>

      <!--slide 2-->
      <div class="carousel-item active">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/gta.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">Grand Theft Auto V Enhanced</h3>
            <p>Tres criminales muy distintos se ven forzados a colaborar en peligrosos atracos mientras enfrentan amenazas del crimen organizado, el gobierno y entre ellos mismos.</p>
            <p class="precio-color fw-bold">Precio 62.000 COP</p>
          </div>
        </div>
      </div>
      
       <!--slide 3-->
      <div class="carousel-item">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/read dead.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">Red Dead Redemption 2</h3>
            <p>En el salvaje oeste de 1899, Arthur Morgan y su banda luchan por sobrevivir perseguidos por la ley, enfrentando conflictos internos que pondrán a prueba su lealtad.</p>
            <p class="precio-color fw-bold">Precio 95.000 COP</p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>


  <h2 class="fw-bold">Supervivencia</h2>
  <!-- Carrusel 1 -->
  <div id="carousel3" class="carousel slide mb-5 fondo-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
            <!--slide 1-->
      <div class="carousel-item active">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/rust.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">Rust</h3>
            <p>Supervivencia extrema en una isla hostil donde todo puede matarte; debes ingeniártelas para seguir con vida un día más.</p>
            <p class="precio-color fw-bold">Precio 95.000 COP</p>
          </div>
        </div>
      </div>

      <!--slide 2-->
      <div class="carousel-item">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/telasofas.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">The Last of Us</h3>
            <p>En un mundo devastado por infectados, Joel debe escoltar a Ellie, una niña de 14 años, fuera de una zona militar. 
                Lo que parecía una misión simple se convierte en un peligroso viaje por todo el país.</p>
            <p class="precio-color fw-bold">Precio 200.000 COP</p>
          </div>
        </div>
      </div>
      
       <!--slide 3-->
      <div class="carousel-item">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/forest.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">The Forest</h3>
            <p>Tras sobrevivir a un accidente aéreo, debes enfrentarte a mutantes caníbales en un bosque misterioso, construyendo y explorando para sobrevivir.</p>
            <p class="precio-color fw-bold">Precio 31.000 COP</p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>



<h2 class="fw-bold">Carreras</h2>
  <!-- Carrusel 1 -->
  <div id="carousel4" class="carousel slide mb-5 fondo-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel4" data-bs-slide-to="0" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#carousel4" data-bs-slide-to="1"></button>
    </div>
    <div class="carousel-inner">
            <!--slide 1-->
      <div class="carousel-item active">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/aseto.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">Assetto Corsa</h3>
            <p>Simulador de carreras realista con gráficos avanzados y físicas detalladas, que ofrece una experiencia de conducción altamente inmersiva y precisa.</p>
            <p class="precio-color fw-bold">Precio 47.000 COP</p>
          </div>
        </div>
      </div>

      <!--slide 2-->
      <div class="carousel-item">
        <div class="row d-flex align-items-center">
          <div class="col-md-8">
            <img src="/f1.png" class="d-block w-100 img-fluid">
          </div>

          <div class="col-md-4 p-4">
            <h3 class="fw-bold titulo-slide">F1® 24</h3>
            <p>Conviértete en una leyenda del automovilismo en el campeonato oficial de Fórmula 1 de 2024, con mejoras en la jugabilidad y una experiencia más realista y competitiva.</p>
            <p class="precio-color fw-bold">Precio 80.000 COP</p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
  
</div>